<nav class="flex container mx-auto flex-col p-4 sm:justify-between sm:flex-row">
  <div>
    <a class="text-lg flex sm:inline-flex mb-4" href="/">Home</a>
  </div>
  <div>
    <a class="text-lg flex sm:inline-flex mr-4 mb-4 sm:mb-0" href="#">About</a>
    <a class="text-lg flex sm:inline-flex mb-4 sm:mb-0" href="/contact/">
      <button class="bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded">
        Contact Us
      </button>
    </a>
  </div>
</nav>